body {
    background-color:rgb(73, 36, 99) ;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: white;
    margin-top:10px ;
}

.fot {
    float: left;
}

.fot img {
    background-color: rgb(96, 0, 165);
    border: 5px solid rgb(52, 0, 88);
    margin:30px ;
    height: 380px;
}

P {
    float: right;
    color: white;
}

.ab {
    background-color: rgb(52, 0, 88);
    width: 400px;
    float: right;
    margin-right: 10px;
    padding: 10px;
    text-align: left;
    font-size:20px ;
    border: 3px solid purple;
    margin-top: 50px;
}

.abf {
    font-size: 20px;
    background-color: rgb(52, 0, 88);
    border-bottom:2px solid purple ;
    width: 400px;
    float: right;
    text-align: left;
}

.ul {
    background-color: rgb(52, 0, 88);
    width: 400px;
    float: left;
    margin-right: 20px;
    padding: 10px;
    text-align: left;
    font-size:20px ;
    border: 3px solid purple;
    margin-top: 30px;
}

.ult {
    font-size: 20px;
    background-color: rgb(52, 0, 88);
    border-bottom:2px solid purple ;
    width: 400px;
    float: left;
    text-align: left;
}

.text {
    width: 300px;
    font-size: 20px;
    margin-left: 30px;
    float: left;
    margin-top: 10px;
}

header {
    background: url(https://i.ytimg.com/vi/YGZf7QY0v9w/maxresdefault.jpg);
    height: 100px;
    border: 5px solid slategrey;
}

header img {
    width: 50px;
    height: 50px;
    margin:10px;
}

header a {
    border: 2px solid black;
    border-radius:40% ;
    color: black;
    padding: 5px;
    background-color: lightblue;
    font-size: 20px;
    text-decoration:none;
    margin-left:60px ;
    margin-right:60px ;
    font-family: sans-serif;
}

header a:hover {
    background-color:black ;
    color: lightblue;
    border:2px solid lightblue ;
}
